@import-normalize;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.form {
    padding: 10px;
    border: 1px solid black;
}

.label {
    display: block;
}

.input {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 3px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 3px;
    outline: none;
}

.input:hover,
.input:focus {
    box-shadow: 0 0 5px 2px #2471a3;
}

.button {
    cursor: pointer;
    padding: 3px 10px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 5px;
}

.btn-delete {
    cursor: pointer;
    margin-left: 10px;
    padding: 1px 10px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 5px;
}

.button:active,
.btn-delete:active {
    background-color: #2471a3;
}

.contactItem {
    margin-bottom: 8px;
}
